body{
    font-family: "Manrope", sans-serif;

    display: flex;
    flex-direction: column;

    gap:2rem;

    font-size: 13px;

    justify-content: center;
    align-items: center;

    min-height: 100svh;

    background-color:  hsl(210, 46%, 95%);
}

/*Styling of Card*/
.card{
    display: flex;

    max-width: 47rem;

    gap:1rem;

    border: 1px solid black;

    justify-content: center;
    align-items: center;

    border-radius: 20px;

    background-color: white;

    padding-right: 2rem;
}

.card-img{
    width: 50%;
    flex-grow: 1;

    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.card-content{
    display: flex;
    flex-direction: column;

    gap:1rem;
}


/*Styling of Avatar footer*/
.footer{
    display: flex;
    
}

.avatar-footer{
    display: flex;
    gap:1rem;
}

.avatar{
    display: flex;
    flex-direction: column;
}

.avatar-michelle{
    width: 15%;
    border-radius: 50%;
}

/*---------------------*/
h2, h4{
    color: hsl(217, 19%, 35%);
}

p{
    color: hsl(214, 17%, 51%);
    font-weight: 500;
}


/*
  CSS Reset
*/
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /*
    2. Remove default margin
  */
  * {
    margin: 0;
  }
  
  /*
    Typographic tweaks!
    3. Add accessible line-height
    4. Improve text rendering
  */
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  

  
  /*
    6. Remove built-in form typography styles
  */
  input, button, textarea, select {
    font: inherit;
  }
  
  /*
    7. Avoid text overflows
  */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /*
    8. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }